
# Python
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/

# 가상환경
.venv/
venv/
.env*
*.env

# 로그 및 캐시
*.log
*.sqlite3
*.db
.DS_Store
.cache/
huggingface/
*.arrow
*.json
README.md


# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# fastapi_project 내부 민감/임시 파일
fastapi_project/app/data/latest_issues.json
fastapi_project/app/db/chroma/

# 기타
*.docx